/* .card {
    width: 310px;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all .6s cubic-bezier(0.25, 1, 0.5, 1);
    padding: 0px;
    overflow: hidden;
    border: 0;
} */

.card {
    width: clamp(290px, 40vw, 310px);
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all .6s cubic-bezier(0.25, 1, 0.5, 1);
    padding: 0px;
    overflow: hidden;
    border: 0;
}

.card:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.card p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    margin-left: 25px;
    margin-top: 25px;
    z-index: 1;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    width: 60%;
}

.color-block {
    width: 100%;
    position: absolute;
    transition: all .6s cubic-bezier(0.25, 1, 0.5, 1);
}

#card-one .color-block {
    height: 33%;
    top: 0;
    left: 0;
}

#card-one:hover .color-block {
    height: calc(33% + 3%);
}

#card-two .color-block {
    height: 65%;
    bottom: 0;
    right: 0;
}

#card-two:hover .color-block {
    height: calc(65% + 3%);
}

#card-three .color-block {
    height: 40%;
    bottom: 0;
    right: 0;
}

#card-three:hover .color-block {
    height: calc(40% + 5%);
}

#card-four .color-block {
    height: 45%;
    bottom: 0;
    right: 0;
}

#card-four:hover .color-block {
    height: calc(45% + 5%);
}

#card-one {
    order: 1;
    height: 385px;
}

#card-three {
    order: 2;
    height: 175px;

}

#card-two {
    order: 1;
    height: 324px;
}

#card-four {
    order: 2;
    height: 200px;
}